@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
.main-img {
    background-image: url('https://oscabucket.s3.ap-northeast-1.amazonaws.com/frontend/images/osca-banner.png');
    background-repeat: no-repeat;
}
.registration-img {
    background-image: url('https://oscabucket.s3.ap-northeast-1.amazonaws.com/frontend/images/osca-banner.png');
    background-repeat: no-repeat;
}
.ra-img {
    background-image: url('https://oscabucket.s3.ap-northeast-1.amazonaws.com/frontend/images/RA.png');
    background-repeat: no-repeat;
}
.functions-img {
    background-image: url('https://oscabucket.s3.ap-northeast-1.amazonaws.com/frontend/images/FUNCTIONS.png');
    background-repeat: no-repeat;
}
.downloads-img {
    background-image: url('https://oscabucket.s3.ap-northeast-1.amazonaws.com/frontend/images/DOWNLOADS.png');
    background-repeat: no-repeat;
}
.policy-img {
    background-image: url('https://oscabucket.s3.ap-northeast-1.amazonaws.com/frontend/images/Resized-Banner.png');
    background-repeat: no-repeat;
}
.ra-7432-img {
    background-image: url('https://oscabucket.s3.ap-northeast-1.amazonaws.com/frontend/images/RA-7432.png');
    background-repeat: no-repeat;
}
.ra-9994-img {
    background-image: url('https://oscabucket.s3.ap-northeast-1.amazonaws.com/frontend/images/RA-9994-1.png');
    background-repeat: no-repeat;
}
.bulacan-logo {
    background-image: url('https://oscabucket.s3.ap-northeast-1.amazonaws.com/frontend/logos/bulacan_logo.png');
    background-repeat: no-repeat;
}
.malolos-logo {
    background-image: url('https://oscabucket.s3.ap-northeast-1.amazonaws.com/frontend/logos/malolos_logo.png');
    background-repeat: no-repeat;
}
li > a {
    color: #735240;
}
.divider {
  border: 1px dotted rgba(180, 185, 181, 1);
  margin-top: 5px;
}
li > a:hover {
    color: #dd8b32;
    border-bottom: 1px solid #735240;
}
.navbar-color {
    background-color: #fcffeb;
}
.navbar-text {
    color: #735240;
}
.bg-active {
  background-color: #b88917;
  color: #fcffeb;
}
.btn-main:hover {
  background-color: #fcffeb;
  color: #735240;
  /*box-shadow: 7px 7px rgba(245, 175, 41, 0.4);*/
}
.bg-primary {
  background-color: #dd8b32;
}
.bg-secondary {
  background-color: #e6b82c;
}
.bg-tertiary {
  background-color: #b88917;
}
.bg-fourth {
  background-color: #735240;
}
.bg-fifth {
  background-color: #303030;
}
.bg-sixth {
  background-color: rgba(245, 230, 83, 0.9);
}
.text-primary {
  color: #735240;
}
.text-secondary {
  color: #b88917;
}
.text-tertiary {
  color: #e6b82c;
}
.text-fourth {
  color: #dd8b32;
}
.text-fifth {
  color: #735240;
}
.form-width {
  width: 40rem;
}
.text-shadow-sm {
  text-shadow: 1px 1px 1px #e6b82c;
}
.w-89 { width: 15.3rem; }
.w-90 { width: 25rem; }
.w-95 { width: 25.5rem; }
.w-98 { width: 35rem; }
.w-180 { width: 50rem; }
.w-200 { width: 76.5rem; }
.w-100 { width: 42rem; }
.w-150 { width: 100rem; }
.w-eighty-five { width: 85%; }
.w-near-full { width: 98%; }
.w-breadcrumb { width: 800px; }
.right-30 { right: 7.5rem; }
.right-26 { right: 6.5rem; }
.h-200 { height: 98%; }

.p-100 { padding: 25rem; }
.pt-100 { padding-top: 25rem; }
.pr-100 { padding-right: 25rem; }
.pb-100 { padding-bottom: 25rem; }
.pl-100 { padding-left: 25rem; }
.p-104 { padding: 26rem; }
.pt-104 { padding-top: 26rem; }
.pr-104 { padding-right: 26rem; }
.pb-104 { padding-bottom: 26rem; }
.pl-104 { padding-left: 26rem; }
.p-108 { padding: 27rem; }
.pt-108 { padding-top: 27rem; }
.pr-108 { padding-right: 27rem; }
.pb-108 { padding-bottom: 27rem; }
.pl-108 { padding-left: 27rem; }
.p-112 { padding: 28rem; }
.pt-112 { padding-top: 28rem; }
.pr-112 { padding-right: 28rem; }
.pb-112 { padding-bottom: 28rem; }
.pl-112 { padding-left: 28rem; }
.p-116 { padding: 29rem; }
.pt-116 { padding-top: 29rem; }
.pr-116 { padding-right: 29rem; }
.pb-116 { padding-bottom: 29rem; }
.pl-116 { padding-left: 29rem; }
.p-120 { padding: 30rem; }
.pt-120 { padding-top: 30rem; }
.pr-120 { padding-right: 30rem; }
.pb-120 { padding-bottom: 30rem; }
.pl-120 { padding-left: 30rem; }
.p-140 { padding: 35rem; }
.pt-140 { padding-top: 35rem; }
.pr-140 { padding-right: 35rem; }
.pb-140 { padding-bottom: 35rem; }
.pl-140 { padding-left: 35rem; }
.p-160 { padding: 40rem; }
.pt-160 { padding-top: 40rem; }
.pr-160 { padding-right: 40rem; }
.pb-160 { padding-bottom: 40rem; }
.pl-160 { padding-left: 40rem; }
.p-180 { padding: 45rem; }
.pt-180 { padding-top: 45rem; }
.pr-180 { padding-right: 45rem; }
.pb-180 { padding-bottom: 45rem; }
.pl-180 { padding-left: 45rem; }
.p-200 { padding: 50rem; }
.pt-200 { padding-top: 50rem; }
.pr-200 { padding-right: 50rem; }
.pb-200 { padding-bottom: 50rem; }
.pl-200 { padding-left: 50rem; }
.p-220 { padding: 55rem; }
.pt-220 { padding-top: 55rem; }
.pr-220 { padding-right: 55rem; }
.pb-220 { padding-bottom: 55rem; }
.pl-220 { padding-left: 55rem; }
.p-224 { padding: 56rem; }
.pt-224 { padding-top: 56rem; }
.pr-224 { padding-right: 56rem; }
.pb-224 { padding-bottom: 56rem; }
.pl-224 { padding-left: 56rem; }
.p-240 { padding: 60rem; }
.pt-240 { padding-top: 60rem; }
.pr-240 { padding-right: 60rem; }
.pb-240 { padding-bottom: 60rem; }
.pl-240 { padding-left: 60rem; }
.p-260 { padding: 65rem; }
.pt-260 { padding-top: 65rem; }
.pr-260 { padding-right: 65rem; }
.pb-260 { padding-bottom: 65rem; }
.pl-260 { padding-left: 65rem; }
.p-264 { padding: 66rem; }
.pt-264 { padding-top: 66rem; }
.pr-264 { padding-right: 66rem; }
.pb-264 { padding-bottom: 66rem; }
.pl-264 { padding-left: 66rem; }
.p-268 { padding: 67rem; }
.pt-268 { padding-top: 67rem; }
.pr-268 { padding-right: 67rem; }
.pb-268 { padding-bottom: 67rem; }
.pl-268 { padding-left: 67rem; }
.p-272 { padding: 68rem; }
.pt-272 { padding-top: 68rem; }
.pr-272 { padding-right: 68rem; }
.pb-272 { padding-bottom: 68rem; }
.pl-272 { padding-left: 68rem; }
.p-276 { padding: 69rem; }
.pt-276 { padding-top: 69rem; }
.pr-276 { padding-right: 69rem; }
.pb-276 { padding-bottom: 69rem; }
.pl-276 { padding-left: 69rem; }
.p-280 { padding: 70rem; }
.pt-280 { padding-top: 70rem; }
.pr-280 { padding-right: 70rem; }
.pb-280 { padding-bottom: 70rem; }
.pl-280 { padding-left: 70rem; }

li button.menu-button {
  color: #735240;
  border: none;
  font-size: 1.10rem;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
li button.menu-button:hover {
  color: #dd8b32;
}
.p-4-custom {
  padding: 1rem;
}
.p-3-custom {
  padding: 0.85rem;
}
/* Modal Loading */

.loader-dots div {
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loader-dots div:nth-child(1) {
    left: 8px;
    animation: loader-dots1 0.6s infinite;
}
.loader-dots div:nth-child(2) {
    left: 8px;
    animation: loader-dots2 0.6s infinite;
}
.loader-dots div:nth-child(3) {
    left: 32px;
    animation: loader-dots2 0.6s infinite;
}
.loader-dots div:nth-child(4) {
    left: 56px;
    animation: loader-dots3 0.6s infinite;
}
.ant-table-tbody > tr > td,  .ant-table-thead > tr > th {
  padding: none;
  font-size: 10pt;
}
.padContainer {
  width: 50vw;
  height: 50vh;
  top: 10%;
  left: 10%;
}

.sigContainer {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  background-color: #fff;
  border: 1px dashed red;
  cursor: crosshair;
}

.sigPad {
  width: 100%;
  height: 100%;
}

.buttons {
  width: 100px;
  height: 30px;
  border: 1px dotted gray;
  background-color: rgba(22,142,142,0.2);
}

.sigImage {
  background-size: 200px 50px;
  width: 200px;
  height: 50px;
  background-color: white;
}
#searchInput {
  color: black;
}
#searchInput::placeholder {
  color: black;
  font-size: 14pt;
  opacity: 1;
}
#searchInput:-ms-input-placeholder {
  color: black;
  font-size: 14pt;
}
#searchInput::-ms-input-placeholder {
  color: black;
  font-size: 14pt;
}
section {
  font-family: 'Inter', sans-serif;
}
@keyframes loader-dots1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes loader-dots3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes loader-dots2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

